*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto:wght@100;300&display=swap');

.main{
    width: 100vw;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:30rem;
    height: 15rem;
    padding: 10px;
    font-size: 40px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
button{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 40px;
    display: block;
    border-radius: 30px;
}